
//Ignoring Secrets
secret.auto.tfvars
*.tfvars
*.tfplan

//Ignore IDE files
.idea/

//Ignore terraform config files
.terraform/*

// Ignore the .dccache file for Snyk Code Analysis
.dccache

//
*.tfstate
*.json
*.tfplan
*.backup
*.html
